.card {
    width: 100%;
    max-width: 300px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: #fff;
    transition: transform 0.3s ease;
    
    &:hover {
      transform: scale(1.05);
    }
  
    &__image {
      width: 100%;
      height: 190px;
      object-fit: cover;
    }
  
    &__content {
      padding: 16px;
     
    }
  
    &__title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 8px;
    }
  
    &__description {
      font-size: 18px;
      color: #666;
      margin-bottom: 12px;
    }
    &__course{
        font-size: 15px;
        color: #666;
        margin-bottom: 10px;
      }
      &__star{
        font-size: 10px;
        color: #7e7e7e;
        gap: 10px;
        margin-bottom: 10px;
      }
    
  
    &__button {
      background: #579de8;
      color: white;
      border: none;
      font-size: 18px;
      padding: 10px 24px;
      border-radius: 6px;
      cursor: pointer;
      margin-top: 20px;
      width: 100%;;
      transition: background 0.3s;
  
      &:hover {
        background: #0056b3;
      }
    }
  }
  